<a href="https://colab.research.google.com/github/mwasalski/Data_Science_Bootcamp/blob/main/Analiza_danych_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Tworzenie obiektów

In [10]:
import pandas as pd
pd.__version__
import numpy as np

In [4]:
# podstawowa struktura danych - pd.Series

In [5]:
s = pd.Series(data = [3,2,4,5])
s

0    3
1    2
2    4
3    5
dtype: int64

In [6]:
# w przeciwieństwie do numpy mamy od razu przypisane indeksy

In [9]:
s = pd.Series(data = [3,2,4,5], index = ['a','b','c','d'], name = 'sample')
s

a    3
b    2
c    4
d    5
Name: sample, dtype: int64

In [8]:
# za indeks możemy też użyć daty

In [11]:
# wstawianie braków danych

In [12]:
s = pd.Series(data = [3,np.nan,4,5], index = ['a','b','c','d'], name = 'sample')
s

a    3.0
b    NaN
c    4.0
d    5.0
Name: sample, dtype: float64

In [15]:
s = pd.Series(data = [True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [29]:
# wstawianie daty zamiast numeru indeksu
s = pd.Series(data = np.arange(10,20), index = pd.date_range(start = '20200101',  periods = 10))
s

2020-01-01    10
2020-01-02    11
2020-01-03    12
2020-01-04    13
2020-01-05    14
2020-01-06    15
2020-01-07    16
2020-01-08    17
2020-01-09    18
2020-01-10    19
Freq: D, dtype: int64

In [24]:
s = pd.Series(data = ['java', 'python', 'r','sql'], name = 'languages')
s

0      java
1    python
2         r
3       sql
Name: languages, dtype: object

In [25]:
type(s)

pandas.core.series.Series

In [26]:
# atrybuty

In [31]:
s.index[1]

Timestamp('2020-01-02 00:00:00', freq='D')

In [33]:
list(s.index)

[Timestamp('2020-01-01 00:00:00', freq='D'),
 Timestamp('2020-01-02 00:00:00', freq='D'),
 Timestamp('2020-01-03 00:00:00', freq='D'),
 Timestamp('2020-01-04 00:00:00', freq='D'),
 Timestamp('2020-01-05 00:00:00', freq='D'),
 Timestamp('2020-01-06 00:00:00', freq='D'),
 Timestamp('2020-01-07 00:00:00', freq='D'),
 Timestamp('2020-01-08 00:00:00', freq='D'),
 Timestamp('2020-01-09 00:00:00', freq='D'),
 Timestamp('2020-01-10 00:00:00', freq='D')]

In [34]:
s.values

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [35]:
s.dtypes

dtype('int64')

In [36]:
s.shape

(10,)

In [49]:
price = pd.Series(data = {'apple': 200, 'cd projekt': 60, 'amazon':1900, 'KGHM':np.nan})
price

apple          200.0
cd projekt      60.0
amazon        1900.0
KGHM             NaN
dtype: float64

In [56]:
price[1]

60.0

In [51]:
price.count() #ile elementów w obiekcie

3

In [58]:
price.value_counts(dropna = False) #ile razy występuje dana wartość, dropna pokaże nam NaN

200.0     1
60.0      1
1900.0    1
NaN       1
dtype: int64

In [59]:
price.sum()

2160.0

In [60]:
#min, max, mean, std,

In [61]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [64]:
price.nlargest(2) #wyciągamy obiekty, które mają najwiekszą daną wartość

amazon    1900.0
apple      200.0
dtype: float64

In [65]:
price.nsmallest(2)

cd projekt     60.0
apple         200.0
dtype: float64

In [66]:
price.rank()

apple         2.0
cd projekt    1.0
amazon        3.0
KGHM          NaN
dtype: float64

In [70]:
price.sort_values(ascending=True)

cd projekt      60.0
apple          200.0
amazon        1900.0
KGHM             NaN
dtype: float64

In [72]:
price_pln = price.apply(lambda x: x * 3.8)

In [73]:
price_pln

apple          760.0
cd projekt     228.0
amazon        7220.0
KGHM             NaN
dtype: float64

In [74]:
price

apple          200.0
cd projekt      60.0
amazon        1900.0
KGHM             NaN
dtype: float64

###Tworzenie DataFrame

In [1]:
import pandas as pd

In [5]:
df= pd.DataFrame(data=[12,23,45], index =['first','second','third'], columns = ['col_1'])
df

        col_1
first      12
second     23
third      45

In [8]:
df= pd.DataFrame(data={'ORLEN': [12,23,45],
                       'WIG40': [24,56,67]})
df

   ORLEN  WIG40
0     12     24
1     23     56
2     45     67

In [13]:
df= pd.DataFrame(data=[[12,23,45],[24,56,67]], index =['first','second'], columns = ['col_1', 'col_2','col_3'])
df # dobre przy łączeniu z numpy

        col_1  col_2  col_3
first      12     23     45
second     24     56     67

In [15]:
df.columns

Index(['col_1', 'col_2', 'col_3'], dtype='object')

In [16]:
df.index

Index(['first', 'second'], dtype='object')

In [17]:
df.values

array([[12, 23, 45],
       [24, 56, 67]])

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 172.0+ bytes

In [20]:
df.describe()

           col_1      col_2      col_3
count   2.000000   2.000000   2.000000
mean   18.000000  39.500000  56.000000
std     8.485281  23.334524  15.556349
min    12.000000  23.000000  45.000000
25%    15.000000  31.250000  50.500000
50%    18.000000  39.500000  56.000000
75%    21.000000  47.750000  61.500000
max    24.000000  56.000000  67.000000

In [21]:
df.describe().T

       count  mean        std   min    25%   50%    75%   max
col_1    2.0  18.0   8.485281  12.0  15.00  18.0  21.00  24.0
col_2    2.0  39.5  23.334524  23.0  31.25  39.5  47.75  56.0
col_3    2.0  56.0  15.556349  45.0  50.50  56.0  61.50  67.0

## Selekcja kolumn

In [22]:
df

        col_1  col_2  col_3
first      12     23     45
second     24     56     67

In [25]:
df['col_1']

first     12
second    24
Name: col_1, dtype: int64

In [27]:
type(df['col_1']) #pojedyncza kolumna jest traktowana jako Series

pandas.core.series.Series

In [28]:
#wycinanie
df[['col_1']]

        col_1
first      12
second     24

In [30]:
type(df[['col_1']])# tutaj dostaniemy DataFrame

pandas.core.frame.DataFrame

In [31]:
df.columns = ['a','b','c']
df

         a   b   c
first   12  23  45
second  24  56  67

In [32]:
df.a

first     12
second    24
Name: a, dtype: int64

In [39]:
#nowa kolumna - obliczeniowa
df['d'] = df.a + df.b
df

         a   b   c   d
first   12  23  45  35
second  24  56  67  80

In [40]:
df= pd.DataFrame(data=[[12,23,45],[24,56,67]], index =['first','second'], columns = ['col_1', 'col_2','col_3'])
df

        col_1  col_2  col_3
first      12     23     45
second     24     56     67

In [41]:
df.loc['first'] #wycinaie po nazwach

col_1    12
col_2    23
col_3    45
Name: first, dtype: int64

In [44]:
df.iloc[1] #wycinanie po numerach indeksów

col_1    24
col_2    56
col_3    67
Name: second, dtype: int64

In [45]:
df.loc['first', 'col_2']

23

In [46]:
df.loc[:, 'col_2']

first     23
second    56
Name: col_2, dtype: int64

In [47]:
df.iloc[0,1]

23